.button
	display: inline-block
	position: relative
	background: $white
	color: $black-pearl
	line-height: 1em
	font-family: $default-font
	letter-spacing: .05em
	text-align: center
	padding:  14px 32px
	border-radius: 5px
	border: 1px solid $white
	transition: all .3s ease
	cursor: pointer
	&:hover
		background: $blue-zodiac
		color: $white
	&:active
		background: $black-pearl-opacity-more
		color: $white
	&-blue
		background: $blue-zodiac
		color: $white
		transition: all .3s ease
		&:hover
			background: $white
			color: $blue-zodiac
			border: 1px solid $blue-zodiac
	&-long
		min-width: 210px
	&-white
		background: $white
		color: $blue-zodiac
		border: 1px solid $blue-zodiac
		transition: all .3s ease
	&-small
		padding: 8px 40px
	&-border
		border: 1px solid $blue-zodiac
	&-search
		padding: 8px 50px 8px 30px
		margin-right: 20px
		+r(991)
			margin-left: auto
		+r(575)
			margin: 10px auto
		&::before
			content: url('../img/search.svg')
			position: absolute
			width: 12px
			height: 13px
			right: 30px
			top: calc( 50% - 7px )
			opacity: 1
			transition: all .3s ease
		&:hover
			&::before
				content: url('../img/search-hover.svg')

.title
	padding-left: 30px
	font-weight: 500
	color: $black-pearl
	margin-bottom: 30px
	+r(767)
		margin-bottom: 20px
	+r(575)
		margin-bottom: 10px
	h2
		font-size: 36px
		line-height: 1em
		max-width: 805px
		+r(767)
			text-align: center
			padding-left: 0
			font-size: 32px
		+r(575)
			font-size: 28px
		a
			color: $blue-zodiac
			transition: all .3s ease
			+r(1199)
				display: block
			&:hover
				opacity: .6
	h3
		font-size: 24px
		line-height: 1em
	h4
		font-weight: 600
		font-size: 12px
		text-transform: uppercase
		color: $black-pearl
	p
		font-weight: 300
		line-height: 1.5em
		color: $dove-gray
	&_left
		padding-left: 0
.logo
	display: flex
	align-items: flex-start
	padding: 25px 0
	color: $white
	+r(767)
		justify-content: center
	img
		width: 37px
		height: 28px
		margin-right: 10px
	&__description
		font-weight: 500
		font-size: 16px
		text-transform: uppercase
		max-width: 80px
		line-height: 1em
		margin-right: 18px
	&__title
		font-weight: 300
		font-size: 14px
		opacity: 0.5
		padding-left: 21px
		max-width: 180px
		line-height: 1.3em
		margin-top: -6px
		position: relative
		+r(575)
			font-size: 12px
		&::before
			content: ''
			position: absolute
			width: 1px
			height: 110%
			left: 0
			top: 50%
			transform: translateY(-50%)
			background: $white
			opacity: .5
input
	outline: none
	-webkit-appearance: none
	-moz-appearance: none
	font-family: $default-font
	&::placeholder
		font-family: $default-font
.search
	.search-form
		display: flex
		margin-bottom: 10px
		+r(575)
			flex-direction: column
			margin-bottom: 30px
		&__wrapper
			padding: 50px 0 0
		input
			width: 100%
			margin-right: 10px
			border-radius: 5px
			border: 1px solid $alto
			padding: 15px 30px
			+r(575)
				margin-bottom: 10px
