<section class="number number-add">
    <div class="container">
        <div class="title title_left">
            <h2>
              Добавить номер абонента <a href="tel:+79453452546">+7 (945) 345-25-46</a>
            </h2>
            <p>
              Этот номер есть в Базе, но по этому номеру никто не оставлял отзыв.
            </p>
            <p>
              Вы можете первым внести данные.
            </p>
        </div>
        <div class="number__base-reg">
            <h3>
              Абонентов в базе:
            </h3>
            <span>
                912 653
            </span>
        </div>
        <form class="number__wrapper">
            <div class="number__user-info">
                <div class="number__user-info_wrapper">
                  <label class="add-img" for="add-img">
                    <input type="file" id="add-img" name="add-img" accept=".jpg, .jpeg, .png">
                  </label>
                    <div class="number__user-info_content">
                      <div class="title">
                        <h4>
                          Номер телефона
                        </h4>
                      </div>
                      <input type="tel" name="add-tel" id="add-tel" placeholder="Добавьте номер телефона">
                      <div class="title">
                        <h4>
                          Ф.И.О. абонента
                        </h4>
                      </div>
                      <input type="tel" name="add-name" id="add-name" placeholder="Добавить Ф.И.О">
                    </div>
                </div>
                <div class="number__description">
                    <div class="title">
                      <h4>
                        Описание
                      </h4>
                    </div>
                  <textarea name="description" cols="30" rows="4" placeholder="Добавить описание"></textarea>
                    <div class="title">
                      <h4>
                        комментарии
                      </h4>
                    </div>
                  <textarea name="description" cols="30" rows="4" placeholder="Добавить коментарий"></textarea>
                </div>
            </div>
            <div class="number__char">
                <h4>
                    Характеристика
                </h4>
                <div class="characteristics">
                  <div class="characteristics__label">
                      <input type="checkbox" id="scammers" name="char">
                      <label for="scammers">
                          Мошенники
                      </label>
                  </div>
                  <div class="characteristics__label">
                      <input type="checkbox" id="spam" name="char">
                      <label for="spam">
                          СМС / Реклама спам
                      </label>
                  </div>
                  <div class="characteristics__label">

                      <input type="checkbox" id="debts" name="char">
                      <label for="debts">
                          Сбор долгов
                      </label>
                  </div>
                  <div class="characteristics__label">

                      <input type="checkbox" id="polls" name="char">
                      <label for="polls">
                          Опросы
                      </label>
                  </div>
                  <div class="characteristics__label">

                    <input type="checkbox" id="hooliganism" name="char">
                    <label for="hooliganism">
                      Телефонноехулиганство
                    </label>
                  </div>
                  <div class="characteristics__label">

                    <input type="checkbox" id="fax" name="char">
                    <label for="fax">
                      Факс
                    </label>
                  </div>
                  <div class="characteristics__label">

                    <input type="checkbox" id="call-center" name="char">
                    <label for="call-center">
                      Колл-центр
                    </label>
                  </div>
                  <div class="characteristics__label">

                    <input type="checkbox" id="calling" name="char">
                    <label for="calling">
                      Прозвон
                    </label>
                  </div>
                  <div class="characteristics__label">

                    <input type="checkbox" id="other" name="char">
                    <label for="other">
                      Другое
                    </label>
                  </div>
                </div>
            </div>
            <div class="button__wrapper">
              <button class="button button-blue button-long add-number_open"> <!--Добавил в кнопку попап - что номер передан на обработку обработку. -->
                Добавить
              </button>
              <label for="add-file" class="add-file">
                <input type="file" id="add-file">
                Загрузить файл
              </label>

            </div>
        </form>

    </div>
</section>
