<section class="comments">
  <div class="container">
    <div class="title">
      <h2>
        Последние комментарии
      </h2>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div class="comments__list">
          <div class="comments__item">
            <div class="comments__item_header">
              <div class="comments__item_name">
                Олег
              </div>
              <div class="comments__item_time">
                <time datetime="21.01.2019">
                  21 мин назад
                </time>
              </div>
              <div class="comments__item_tel">
                <a href="tel:+74951370772">
                  + 7 495 137-07-72
                </a>
              </div>
              <div class="comments__item_all">
                7
              </div>
            </div>
            <div class="comments__item_content">
              <div class="comments__item_message">
                <p>
                  Звонок шел 23 секунды,но как только взял трубку-сразу сброс. Никогда не перезваниваю и вам не советую. С НОВЫМ ГОДОМ!
                </p>
              </div>
            </div>
          </div>
          <div class="comments__item">
            <div class="comments__item_header">
              <div class="comments__item_name">
                Олег
              </div>
              <div class="comments__item_time">
                <time datetime="21.01.2019">
                  21 мин назад
                </time>
              </div>
              <div class="comments__item_tel">
                <a href="tel:+74951370772">
                  + 7 495 137-07-72
                </a>
              </div>
              <div class="comments__item_all">
                7
              </div>
            </div>
            <div class="comments__item_content">
              <div class="comments__item_message">
                <p>
                  Звонок шел 23 секунды,но как только взял трубку-сразу сброс. Никогда не перезваниваю и вам не советую. С НОВЫМ ГОДОМ!
                </p>
              </div>
            </div>
          </div>
          <div class="comments__item">
            <div class="comments__item_header">
              <div class="comments__item_name">
                Олег
              </div>
              <div class="comments__item_time">
                <time datetime="21.01.2019">
                  21 мин назад
                </time>
              </div>
              <div class="comments__item_tel">
                <a href="tel:+74951370772">
                  + 7 495 137-07-72
                </a>
              </div>
              <div class="comments__item_all">
                7
              </div>
            </div>
            <div class="comments__item_content">
              <div class="comments__item_message">
                <p>
                  Позвонили вечером 26.12.2018, не успела звонка, не ответила, перезвонила
                  на этот номер- "номер не обслуживается". 27.12.2018 опять этот номер
                  звонит, взяла трубку, девушка представилась Ольгой, компания "Единая
                  бонусная система". Спросила почему я не вывела накопившиеся за 2017
                  год денежные средства (сумму не назвала. Я попросила отправить всю
                  информацию на почту либо в виде смс,т.к. неудобно разговаривать, на
                  что ответ был: "Вам 2 недели назад на почту приходило уведомление,
                  вы не отреагировали, и ваш личный кабинет заблокировали в целях
                  безопасности, теперь деньги можно вывести только по звонку на горячую
                  линию.сейчас я всё расскажу...". Я её прервала, сказала, что не удобно
                  сейчас разговаривать и лучше продублировать информацию на почту. "Ольга"
                  распсиховалась и повесила трубку.
                </p>
                <p>
                  В общем,ребят, не ведитесь на такие разговоры, чистой воды развод) / Мошенники
                </p>
              </div>
            </div>
          </div>
          <div class="comments__item">
            <div class="comments__item_header">
              <div class="comments__item_name">
                Олег
              </div>
              <div class="comments__item_time">
                <time datetime="21.01.2019">
                  21 мин назад
                </time>
              </div>
              <div class="comments__item_tel">
                <a href="tel:+74951370772">
                  + 7 495 137-07-72
                </a>
              </div>
              <div class="comments__item_all">
                7
              </div>
            </div>
            <div class="comments__item_content">
              <div class="comments__item_message">
                <p>
                  Звонок шел 23 секунды,но как только взял трубку-сразу сброс. Никогда не перезваниваю и вам не советую. С НОВЫМ ГОДОМ!
                </p>
              </div>
            </div>
          </div>
          <div class="comments__item">
            <div class="comments__item_header">
              <div class="comments__item_name">
                Олег
              </div>
              <div class="comments__item_time">
                <time datetime="21.01.2019">
                  21 мин назад
                </time>
              </div>
              <div class="comments__item_tel">
                <a href="tel:+74951370772">
                  + 7 495 137-07-72
                </a>
              </div>
              <div class="comments__item_all">
                7
              </div>
            </div>
            <div class="comments__item_content">
              <div class="comments__item_message">
                <p>
                  Звонок шел 23 секунды,но как только взял трубку-сразу сброс. Никогда не перезваниваю и вам не советую. С НОВЫМ ГОДОМ!
                </p>
              </div>
            </div>
          </div>
          <div class="button__wrapper">
            <a href="#nav" class="button button-blue button-long button-aut">
              Войти на сайт
            </a>
            <a href="#nav" class="button button-white button-blue button-reg">
              Зарегистрироваться
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="comments__more-coments">
          <div class="comments__more-coments_title">
            <h3>
              Самые комментируемые за неделю
            </h3>
          </div>
          <div class="comments__number">
            <div class="comments__item_tel">
              <a href="tel:+74951370772">
                + 7 495 137-07-72
              </a>
            </div>
            <div class="comments__item_all">
              7
            </div>
          </div>
          <div class="comments__number">
            <div class="comments__item_tel">
              <a href="tel:+74951370772">
                + 7 495 137-07-72
              </a>
            </div>
            <div class="comments__item_all">
              7
            </div>
          </div>
          <div class="comments__number">
            <div class="comments__item_tel">
              <a href="tel:+74951370772">
                + 7 495 137-07-72
              </a>
            </div>
            <div class="comments__item_all">
              7
            </div>
          </div>
          <div class="comments__number">
            <div class="comments__item_tel">
              <a href="tel:+74951370772">
                + 7 495 137-07-72
              </a>
            </div>
            <div class="comments__item_all">
              7
            </div>
          </div>
          <div class="comments__number">
            <div class="comments__item_tel">
              <a href="tel:+74951370772">
                + 7 495 137-07-72
              </a>
            </div>
            <div class="comments__item_all">
              7
            </div>
          </div>
          <div class="comments__number">
            <div class="comments__item_tel">
              <a href="tel:+74951370772">
                + 7 495 137-07-72
              </a>
            </div>
            <div class="comments__item_all">
              7
            </div>
          </div>
          <div class="comments__number">
            <div class="comments__item_tel">
              <a href="tel:+74951370772">
                + 7 495 137-07-72
              </a>
            </div>
            <div class="comments__item_all">
              7
            </div>
          </div>
          <div class="comments__number">
            <div class="comments__item_tel">
              <a href="tel:+74951370772">
                + 7 495 137-07-72
              </a>
            </div>
            <div class="comments__item_all">
              7
            </div>
          </div>
          <div class="comments__number">
            <div class="comments__item_tel">
              <a href="tel:+74951370772">
                + 7 495 137-07-72
              </a>
            </div>
            <div class="comments__item_all">
              7
            </div>
          </div>
          <div class="comments__number">
            <div class="comments__item_tel">
              <a href="tel:+74951370772">
                + 7 495 137-07-72
              </a>
            </div>
            <div class="comments__item_all">
              7
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
