<section class="comments comments-template">
    <div class="container">
        <div class="title">
            <h3>
                Отзывы
            </h3>
        </div>
            <div class="comments__list">
                <div class="comments__item">
                    <div class="comments__item_header">
                        <div class="comments__item_name">
                            Олег
                        </div>
                        <div class="comments__item_time">
                            <time datetime="21.01.2019">
                                21 мин назад
                            </time>
                        </div>
                        <div class="comments__item_tel">
                            <a href="tel:+74951370772">
                                + 7 495 137-07-72
                            </a>
                        </div>
                        <div class="comments__item_all">
                            7
                        </div>
                    </div>
                    <div class="comments__item_content">
                        <div class="comments__item_message">
                            <p>
                                Звонок шел 23 секунды,но как только взял трубку-сразу сброс. Никогда не перезваниваю и вам не советую. С НОВЫМ ГОДОМ!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="comments__item">
                    <div class="comments__item_header">
                        <div class="comments__item_name">
                            Олег
                        </div>
                        <div class="comments__item_time">
                            <time datetime="21.01.2019">
                                21 мин назад
                            </time>
                        </div>
                        <div class="comments__item_tel">
                            <a href="tel:+74951370772">
                                + 7 495 137-07-72
                            </a>
                        </div>
                        <div class="comments__item_all">
                            7
                        </div>
                    </div>
                    <div class="comments__item_content">
                        <div class="comments__item_message">
                            <p>
                                Звонок шел 23 секунды,но как только взял трубку-сразу сброс. Никогда не перезваниваю и вам не советую. С НОВЫМ ГОДОМ!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="comments__item">
                    <div class="comments__item_header">
                        <div class="comments__item_name">
                            Олег
                        </div>
                        <div class="comments__item_time">
                            <time datetime="21.01.2019">
                                21 мин назад
                            </time>
                        </div>
                        <div class="comments__item_tel">
                            <a href="tel:+74951370772">
                                + 7 495 137-07-72
                            </a>
                        </div>
                        <div class="comments__item_all">
                            7
                        </div>
                    </div>
                    <div class="comments__item_content">
                        <div class="comments__item_message">
                            <p>
                                Позвонили вечером 26.12.2018, не успела звонка, не ответила, перезвонила
                                на этот номер- "номер не обслуживается". 27.12.2018 опять этот номер
                                звонит, взяла трубку, девушка представилась Ольгой, компания "Единая
                                бонусная система". Спросила почему я не вывела накопившиеся за 2017
                                год денежные средства (сумму не назвала. Я попросила отправить всю
                                информацию на почту либо в виде смс,т.к. неудобно разговаривать, на
                                что ответ был: "Вам 2 недели назад на почту приходило уведомление,
                                вы не отреагировали, и ваш личный кабинет заблокировали в целях
                                безопасности, теперь деньги можно вывести только по звонку на горячую
                                линию.сейчас я всё расскажу...". Я её прервала, сказала, что не удобно
                                сейчас разговаривать и лучше продублировать информацию на почту. "Ольга"
                                распсиховалась и повесила трубку.
                            </p>
                            <p>
                                В общем,ребят, не ведитесь на такие разговоры, чистой воды развод) / Мошенники
                            </p>
                        </div>
                    </div>
                </div>
                <div class="comments__item">
                    <div class="comments__item_header">
                        <div class="comments__item_name">
                            Олег
                        </div>
                        <div class="comments__item_time">
                            <time datetime="21.01.2019">
                                21 мин назад
                            </time>
                        </div>
                        <div class="comments__item_tel">
                            <a href="tel:+74951370772">
                                + 7 495 137-07-72
                            </a>
                        </div>
                        <div class="comments__item_all">
                            7
                        </div>
                    </div>
                    <div class="comments__item_content">
                        <div class="comments__item_message">
                            <p>
                                Звонок шел 23 секунды,но как только взял трубку-сразу сброс. Никогда не перезваниваю и вам не советую. С НОВЫМ ГОДОМ!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="comments__item">
                    <div class="comments__item_header">
                        <div class="comments__item_name">
                            Олег
                        </div>
                        <div class="comments__item_time">
                            <time datetime="21.01.2019">
                                21 мин назад
                            </time>
                        </div>
                        <div class="comments__item_tel">
                            <a href="tel:+74951370772">
                                + 7 495 137-07-72
                            </a>
                        </div>
                        <div class="comments__item_all">
                            7
                        </div>
                    </div>
                    <div class="comments__item_content">
                        <div class="comments__item_message">
                            <p>
                                Звонок шел 23 секунды,но как только взял трубку-сразу сброс. Никогда не перезваниваю и вам не советую. С НОВЫМ ГОДОМ!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="paginator">
                <a class="prev" href="#prev"></a>
                <a href="#1">01</a>
                <a href="#2">02</a>
                <a href="#3">03</a>
                <a href="#4">04</a>
                <span>&hellip;</span>
                <a href="#10">10</a>
                <a class="next" href="#next"></a>
            </div>
            <form class="comments__add">
                <div class="comments__add_wrapper">
                    <h4>
                        Добавить отзыв
                    </h4>
                    <textarea name="add-comment" cols="30" rows="6">Введите текст отзыва</textarea>
                </div>
                <div class="button__wrapper">
                    <button class="button button-blue button-long">
                        Добавить
                    </button>
                    <label for="add-file" class="add-file">
                        <input type="file" id="add-file">
                        Загрузить файл
                    </label>

                </div>

            </form>
        </div>
    </div>
</section>
