<section class="first-screen">
  <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-7 col-xl-8">
          <div class="logo">
            <img src="img/logo.svg" alt="">
            <div class="logo__description">
              База номеров
            </div>
            <div class="logo__title">
              База данных с отзывами
              о физических лицах
            </div>
          </div>
          <div class="first-screen__content">

            <h1>
              Кто звонил Вам <br>
              с неизвестного номера?
            </h1>

            <div class="description">
              <h2>
                Хотите узнать кто звонил вам, с неизвестного номера, или у вас еще нет аккаунта
              </h2>
            </div>
            <div class="button__wrapper">
              <a href="#nav" class="button button-reg">
                Зарегистрироваться
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-5 col-xl-4">
          <nav class="nav" id="nav">
            <a href="#" class="button button-nav active">
              Вход
            </a>
            <a href="#" class="button button-nav">
              Регистрация
            </a>
          </nav>
          <div class="form__wrapper">
            <form action="#" class="form form-aut">
              <h3>
                Здравствуйте,<br>
                с возвращением!
              </h3>
              <p>
                Войдите в Ваш аккаунт здесь.
              </p>
              <div class="form__group">
                <label class="form__label">
                  Введите Вашу почту
                </label>
                <input type="email" name="email" placeholder="" class="form__field form__field_email" required>

              </div>
              <div class="form__group">
                <label class="form__label">
                  Введите  Ваш пароль
                </label>
                <input type="password" name="pass" placeholder="" class="form__field form__field_pass" required>
              </div>
              <button class="button button-aut">
                Войти на сайт
              </button>
              <span>Забыли пароль? <a href="#" class="restore_open">Восстановить.</a></span>
            </form>
            <form action="#" class="form form-reg">
              <h3>
                Добро пожаловать!
              </h3>
              <p>
                У вас еще нет аккаунта?
              </p>
              <div class="form__group">
                <label class="form__label">
                  Введите  Ваше имя
                </label>
                <input type="text" name="name" placeholder="" class="form__field form__field_name" required>
              </div>
              <div class="form__group">
                <label class="form__label">
                  Введите Вашу почту
                </label>
                <input type="email" name="email" placeholder="" class="form__field form__field_email" required>

              </div>
              <div class="form__group">
                <label class="form__label">
                  Введите  Ваш пароль
                </label>
                <input type="password" name="pass" placeholder="" class="form__field form__field_pass" required>
              </div>
              <button class="button button-aut">
                Регистрация
              </button>
              <span>
                У вас уже есть учетная запись? <a href="#">Вход.</a>
              </span>
              <span class="small">
                Нажав кнопку "Регистрация" вы даёте согласие на <a href="#">обработку персональных даных</a>
              </span>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
