<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="logo">
                <img src="img/logo.svg" alt="">
                <div class="logo__description">
                    База номеров
                </div>
                <div class="logo__title">
                    База данных с отзывами
                    о физических лицах
                </div>
            </div>
            <div class="copyright">
                © База данных, 2018 г.
            </div>
        </div>
    </div>
</footer>