<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-xl-6">
                <div class="logo">
                    <img src="img/logo.svg" alt="">
                    <div class="logo__description">
                        База номеров
                    </div>
                    <div class="logo__title">
                        База данных с отзывами
                        о физических лицах
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-xl-6">
                <form action="#" class="user-form">


                      <div class="user">
                          <input type="text" value="Serabrakov123" readonly>
                      </div>

                      <button class="button button-blue button-small button-search">
                        Поиск по базе
                      </button>
                      <button class="button button-blue button-small">
                          Выйти
                      </button>
                </form>

            </div>
        </div>
    </div>
</header>
