<div class="modal" id="add-number">
  <h3>
    Спасибо
  </h3>
  <p>
    Номер добавлен и отправлен администратору на подтверждение!
  </p>
</div>


<div class="modal" id="restore">
  <h3>
    Восстановление доступа
  </h3>
  <p>
    Пожалуйста, укажите <strong>email</strong> который вы использовали для входа на сайт
  </p>
  <form class="restore">
    <h4> Ваш Email </h4>
    <label>
      <input type="email" placeholder="example@email.com" required>
    </label>
    <button class="button button-blue button-center restore_close restore-thanks_open"> <!-- Демо(ФОРМА НИЧЕГО НЕ ОТПРАВЛЯЕТ): после настройки обработчика с кнопки нужно будет убрать класы restore_close restore-thanks_open  -->
      Далле
    </button>
  </form>
</div>


<div class="modal" id="restore-thanks"> <!-- Так же есть окно которое сообщает что на почту отправлен новый пароль -->
  <h3>
    Спасибо
  </h3>
  <p>
    Вам на почту отравлен новый пароль для входа!
  </p>
</div>


