<section class="number">
    <div class="container">
        <div class="title title_left">
            <h2>
                Комментарии к номеру
            </h2>
        </div>
        <div class="number__base-reg">
            <h3>
              Абонентов в базе:
            </h3>
            <span>
                912 653
            </span>
        </div>
        <div class="number__wrapper">
            <div class="number__user-info">
                <div class="number__user-info_wrapper">
                    <img src="img/user2.jpg" alt="">
                    <div class="number__user-info_content">
                        <h3>
                            Телефон:
                        </h3>
                        <p>
                            <a href="tel+79453452546">
                                +7 (945) 345-25-46
                            </a>
                        </p>
                        <h3>
                            Ф.И.О.:
                        </h3>
                        <p>
                            Петров Сергей Иванович
                        </p>
                    </div>
                </div>
                <div class="number__description">
                    <div class="title">
                        <h3>
                            Описание
                        </h3>
                    </div>
                    <textarea name="description" cols="30" rows="7" readonly>Номер +74999228160 относится к оператору ПАО "Вымпел-Коммуникации", регион номера: г. Москва</textarea>
                </div>
            </div>
            <div class="number__char">
                <h4>
                    Характеристика
                </h4>
                <form class="characteristics">
                    <div class="characteristics__label">
                        <input type="checkbox" id="scammers" name="char" disabled checked>
                        <label for="scammers">
                            Мошенники
                        </label>
                    </div>
                    <div class="characteristics__label">
                        <input type="checkbox" id="spam" name="char" disabled checked>
                        <label for="spam">
                            СМС / Реклама спам
                        </label>
                    </div>
                    <div class="characteristics__label">

                        <input type="checkbox" id="debts" name="char" disabled checked>
                        <label for="debts">
                            Сбор долгов
                        </label>
                    </div>
                    <div class="characteristics__label">

                        <input type="checkbox" id="polls" name="char" disabled checked>
                        <label for="polls">
                            Опросы
                        </label>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
