<section class="number search">
    <div class="container">
        <div class="title title_left">
            <h2>
              Искать или добавить нового абонента
            </h2>
        </div>
        <div class="number__base-reg">
            <h3>
              Абонентов в базе:
            </h3>
            <span>
                912 653
            </span>
        </div>
        <div class="search-form__wrapper">
          <form class="search-form search-form_tel">
            <input type="search" name="search-tel" placeholder="Поиск по номеру телефона" required>
            <button class="button button-border button-long">
              Найти / Добавить
            </button>
          </form>
          <form class="search-form search-form_name">
            <input type="search" name="search-first-name" placeholder="Поиск по фамилии" required>
            <button class="button button-border button-long">
              Найти
            </button>
          </form>
          <form class="search-form search-form_last-name">
            <input type="search" name="search-last-name" placeholder="Поиск по имени" required>
            <button class="button button-border button-long">
              Найти
            </button>
          </form>
          <form class="search-form">
            <input type="search" name="search-patronymic" placeholder="Поиск по отчеству" required>
            <button class="button button-border button-long">
              Найти
            </button>
          </form>
        </div>
    </div>
</section>
