<div class="user-block">
    <div class="container">
        <div class="user-block__wrapper">
            <div class="user-block__container">
                <div class="user-block__info">
                    <img src="img/user1.jpg" alt="">
                    <div class="user-block__info_name">
                        Андрей Серебряков
                    </div>
                </div>
                <div class="user-block__tel">
                    <h2>
                        Телефон:
                    </h2>
                    <a href="tel:+79452546">
                        +7 (945) 345-25-46
                    </a>
                </div>
                <div class="user-block__email">
                    <h2>
                        E-mail:
                    </h2>
                    <a href="mailto:serebriakov@e-mail.ru">
                        serebriakov@e-mail.ru
                    </a>
                </div>
            </div>
            <div class="user-block__container">
                <div class="user-block__data">
                    <h2>
                        Срок действия оплаты услуги
                    </h2>
                    <p>
                        до <time datetime="19.12.2018">19.12.2018</time> года
                    </p>
                </div>
                <div class="user-block__autopay">
                    <h3>
                        Автоплатеж
                    </h3>
                    <div class="switch">
                        <input type="checkbox" name="switch" class="switch-checkbox" id="switch" checked>
                        <label class="switch-label" for="switch">
                            <span class="switch-inner"></span>
                            <span class="switch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-block__buttons">
            <button class="user-setting user-setting_tune">
                настройка
            </button>
            <button class="user-setting user-setting_edit">
                редактировать
            </button>
        </div>
    </div>
</div>