.comments
	position: relative
	padding: 80px 0 50px
	+r(991)
		padding:  70px 0 50px
	+r(767)
		padding:  50px 0
	+r(575)
		padding: 40px 0
	&__item
		margin-bottom: 20px
		border-radius: 5px
		box-shadow: 0 1px 7px 0 rgba(4, 8, 18, 0.1)
		cursor: pointer
		transition: all .3s ease
		&:hover
			box-shadow: 0 4px 10px 0 rgba(4, 8, 18, 0.2)
			transform: translateY(-1px)
			.comments__item_header
				background: $mystic
			.comments__item_name
				&::before
					content: url('../img/user-solid-hover.svg')
			.comments__item_tel
				&::before
					content: url('../img/phone-solid-hover.svg')
			.comments__item_all
				&::before
					content: url('../img/comment-solid-hover.svg')
		&_header
			padding: 16px 30px
			display: flex
			justify-content: space-between
			background: $wild-sand
			border-radius: 5px 5px 0 0
			border-left: 1px solid $iron
			border-right: 1px solid $iron
			transition: all .3s ease
			+r(575)
			 	flex-wrap: wrap
		&_name
			font-weight: 600
			color: $black-pearl
			padding-left: 17px
			margin-right: 20px
			position: relative
			transition: all .3s ease
			&::before
				content: url('../img/user-solid.svg')
				width: 8px
				height: 10px
				position: absolute
				left: 0
			+r(575)
				width: 50%
				margin-right: 0
		&_time
			margin-right: auto
			font-weight: 300
			color: $santas-gray
			transition: all .3s ease
			+r(575)
				width: 50%
				text-align: right
		&_tel
			font-weight: 600
			margin-left: auto
			margin-right: 35px
			padding-left: 18px
			position: relative
			transition: all .3s ease
			&::before
				content: url('../img/phone-solid.svg')
				width: 8px
				height: 10px
				position: absolute
				left: 0
			a
				color: $black-pearl
			+r(575)
				width: 70%
				margin-left: 0

				margin-right: 0
		&_all
			font-weight: 600
			padding-left: 19px
			position: relative
			transition: all .3s ease
			&::before
				content: url('../img/comment-solid.svg')
				width: 8px
				height: 10px
				position: absolute
				left: 0
			+r(575)
				margin-left: auto
		&_content
			border: 1px solid $iron
			border-top: none
			padding: 25px 30px
			transition: all .3s ease
			&_text
				color: $black-pearl
	&__more-coments
		border-radius: 5px
		box-shadow: 0 1px 4px 0 rgba(4, 8, 18, 0.2)
		&_title
			padding: 25px 30px 25px
			border-bottom: 1px solid $mercury
			h3
				color: $black-pearl
				font-weight: 500
				font-size: 24px
				line-height: 1.2em
				+r(767)
					text-align: center
	&__number
		display: flex
		padding: 15px 30px
		background: $white
		&:nth-child(even)
			background: $wild-sand
		&:last-of-type
			border-radius: 0 0 5px 5px
		.comments__item_tel
			margin-left: 0
		.comments__item_all
			margin-left:  auto
	.button ~ .button
		margin-left:  30px
		+r(767)
			margin-left: 20px
	.button
		+r(991)
			margin-bottom: 30px
		+r(767)
			margin: 0 20px 20px
		+r(575)
			margin: 0 15px 20px
		&__wrapper
			+r(991)
				text-align: center
	&-template
		padding:  20px 0 50px
		+r(575)
			padding: 20px 0 40px
		.paginator
			width: 250px
			margin: 10px auto 20px
			white-space: nowrap
			display: flex
			justify-content: space-between
			a, span
				display: inline-block
				min-width: 26px
				height:  26px
				padding:  6px
				line-height:  1.2em
				text-align: center
				vertical-align: middle
				font-size:  12px
				font-weight:  300
				color: $silver-chalice
				border: 1px solid $silver-chalice
				border-radius: 3px
				margin: 0 3px
				transition: all .3s ease
			a
				&:hover
					background: $mystic
					color: $blue-zodiac
				&.prev , &.next
					position: relative
					&::before
						content: ''
						width:  6px
						height:  10px
						position: absolute
						left: calc( 50% - 3px )
						top: calc( 50% - 5px )
				&.prev
					content: url('../img/prev.svg')
				&.next
					content: url('../img/next.svg')
	&__add
		padding: 30px 0 0
		position: relative
		&_wrapper
			box-shadow: 0 1px 6px 0 rgba(4, 8, 18, 0.2)
			border-radius: 5px
			border-bottom: 1px solid $alto
			margin-bottom: 20px
		+r(575)
			padding: 20px 0 0
		h4
			padding: 20px 30px
			background: $mystic
			line-height: 1em
			font-weight: 600
			font-size: 16px
			color: $black-pearl
			border-radius: 5px 5px 0 0
			z-index: 1
		textarea
			resize: none
			width:  100%
			padding: 15px 30px 10px
			border-color: transparent
			text-align: left
			font-size: 16px
			font-family: $default-font
			font-weight: 300
			color: $dove-gray

.add-file
	margin-left: 30px
	font-size: 12px
	text-transform: uppercase
	text-decoration: underline
	color: $dove-gray
	transition: all .3s ease
	position: relative
	line-height: 1em
	padding-right: 16px
	display: inline-block
	+r(410)
		margin-left: 0
	input
		position: absolute
		opacity: 0
		z-index: -1
		top: 50%
		transform: translateY(-50%)
		width: 10px
		height: 5px
	&::after
		content: url('../img/clip.svg')
		position: absolute
		right: 0
		width: 13px
		height: 12px
		top: calc( 50% - 6px )
	&:hover
		text-decoration: none
		color: $blue-zodiac
