.first-screen
	background: url('../img/first-screen-bg.jpg') no-repeat center
	background-size: cover
	color: $white
	&__content
		padding-top: 85px
		padding-bottom: 134px
		+r(1199)
			padding-top: 80px
			padding-bottom: 100px
		+r(991)
			padding: 60px 0
		+r(767)
			text-align: center
		+r(576)
			padding-bottom: 30px
		h1
			color: $white
			font-weight: 500
			font-size: 48px
			line-height: 1.2em
			margin-bottom: 22px
			+r(991)
				font-size: 36px
			+r(576)
				font-size: 32px
				margin-bottom: 10px

		.description
			margin-bottom: 63px
			+r(767)
				margin-bottom: 30px
			h2
				max-width: 500px
				font-weight: 300
				font-size: 20px
				line-height: 1.4em
				+r(767)
					max-width: none
				+r(576)
					font-size: 16px

	.nav
		position: relative
		top: 0
		right: 0
		width: 100%
		display: flex
		justify-content: center
		align-items: center
		padding: 25px 0
		background: $blue-zodiac
		.button-nav
			font-size: 12px
			min-width: 120px
			line-height: 1em
			text-align: center
			padding: 7px 10px
			border: 1px solid $white
			color: $white
			transition: all .3s ease
			letter-spacing: .05em
			background: transparent
			&:nth-of-type(odd)
				border-radius: 4px 0 0 4px
			&:nth-of-type(even)
				border-radius: 0 4px 4px 0
			&:hover
				background: $black-pearl-opacity
			&.active
				transition: all .3s ease
				background: $white
				color: $woodsmoke
	.form
		background: $blue-zodiac
		min-height: 100%
		width: 100%
		overflow: auto
		padding: 53px 65px 30px
		+r(991)
			padding: 50px 50px 30px
		+r(767)
			padding: 10px 50px 30px
		+r(576)
			padding: 10px 30px 30px
		&__wrapper
			background: $blue-zodiac
			height: calc( 100% - 78px)
		h3
			font-weight: 400
			font-size: 30px
			line-height: 1.2em
			margin-bottom: 16px
			+r(991)
				font-size: 28px
				margin-bottom: 10px
			+r(767)
				text-align: center
			+r(576)
				font-size: 24px
				margin-bottom: 5px

		p
			font-weight: 300
			font-size: 16px
			color: $portage
			margin-bottom: 17px
			+r(991)
				font-size: 14px
				margin-bottom: 10px
			+r(767)
				text-align: center
			+r(576)
				margin-bottom: 5px
		&__group
			margin-bottom: 22px
			padding-top: 21px
			position: relative
			&:last-of-type
				margin-bottom: 40px
				+r(575)
					margin-bottom: 25px
		&__label
			transition: all .6s ease
			position: absolute
			bottom: 11px
			left: 10px
			&.active
				line-height: 1em
				color: $portage
				opacity: 1
				transform: translateY(-27px)
		&-reg
			padding-top: 20px
			.form__group
				margin-bottom: 5px
				&:last-of-type
					margin-bottom: 40px
		.button
			display: block
			background: transparent
			width: 100%
			text-align: center
			border-radius: 5px
			border: 1px solid $white
			color: $white
			font-family: $default-font
			letter-spacing: .05em
			line-height: 1em
			font-size: 14px
			padding: 14px
			margin-bottom: 29px
			transition: all .3s ease
			&:hover
				background: $black-pearl-opacity
			&:focus
				background: $black-pearl-opacity-more
		span
			display: block
			text-align: center
			font-size: 12px
			color: $portage
			line-height: 1em
			margin-bottom: 8px
			&:last-of-type
				margin-bottom: 0
			&.small
				font-size: 11px
			a
				color: $portage
				text-decoration: underline
				transition: all .3s ease
				&:hover
					color: $white
					text-decoration: none
	input
		border-bottom: 1px solid $portage
		color: $white
		border-radius: 0
		background: transparent
		line-height: 1em
		box-shadow: none
		font-size: 14px
		font-family: $default-font
		font-weight: 300
		width: 100%
		outline: none
		-webkit-appearance: none
		-moz-appearance: none
		padding: 4px 10px 13px
		position: relative
		+r(575)
			font-size:  12px
		&:required:valid
			opacity: 1
			outline: none
			box-shadow: none
			-webkit-appearance: none
		&::placeholder
			color: $portage
			font-family: $default-font
			font-weight: 300
			line-height: 1em
			font-size: 14px
			+r(575)
				font-size:  12px
