.footer
	background: $black-pearl
	&__wrapper
		display: flex
		align-items: center
		justify-content: space-between
		flex-wrap: wrap
		+r(575)
			justify-content: center
.copyright
	color: $white
	opacity: 0.5
	font-weight: 300
	padding: 15px 0