.header
	background: $blue-zodiac
	+r(991)
		.logo
			justify-content: center
	+r(575)
		.logo
			padding: 25px 0 15px
.user-form
	display: flex
	height: 100%
	width: 100%
	align-items: center
	justify-content: flex-end
	padding: 25px 0
	color: $white
	flex-wrap: wrap

	+r(991)
		padding: 15px 0
		justify-content: space-between
	+r(576)
		flex-direction: column
		justify-content: flex-end
	.search
		margin-right: 20px
		+r(991)
			margin-left: auto
	.user
		position: relative
		margin-right: 20px
		+r(575)
			margin-right: 0
		&::before
			content: url('../img/user-solid.svg')
			width: 15px
			height: 20px
			position: absolute
			left: 0
		input
			padding-left: 30px
			background: transparent
			color: $white
			position: relative
			max-width: 140px
			width: auto
