.modal
	transform: scale(.7)
	background: $white
	margin: 5% 0
	padding: 40px 20px 25px
	border-radius: 5px
	max-width: 350px
	h3
		font-family: $default-font
		font-weight: 700
		font-size: 24px
		text-align: center
		margin-bottom: 5px
		color: $woodsmoke
	h4
		font-family: $default-font
		font-weight: 700
		font-size: 12px
		margin-bottom: 5px
		text-transform: uppercase
		color: $woodsmoke
		text-align: left
	p
		color: $woodsmoke
		text-align: center
		margin-bottom: 15px
		&:last-child
			margin-bottom: 0
	input
		width: 100%
		border: 1px solid #d9d9d9
		border-radius: 5px
		padding: 10px
		margin-bottom: 20px
	.restore
		text-align: center
.popup_visible
	.modal
		transform: scale(1)

.popup_close
	display: inline-block
	font-family: $default-font
	font-weight: 600
	font-size: 16px
	line-height: 1em
	text-transform: uppercase
	background: transparent
	cursor: pointer
	transition: all .4s ease
	text-align: center
	padding: 0
	width: 26px
	position: absolute
	right: 8px
	top: 8px
	border: 1px solid $blue-zodiac
	border-radius: 5px
	span
		display: block
		padding: 5px
		position: relative
		color: $blue-zodiac
		transition: all .5s ease
		&:hover
			background: $blue-zodiac
			color: $white

