.number
	padding: 80px 0 30px
	+r(991)
		padding: 50px 0 30px
	+r(575)
		padding: 40px 0 30px
	.container
		position: relative

	&__base-reg
		position: absolute
		right: 15px
		top: -20px
		border-radius: 5px
		background-color: $white
		box-shadow: 0 1px 6px 0 rgba(4, 8, 18, 0.2)
		text-align: center
		padding: 20px 30px
		color: $blue-zodiac
		+r(991)
			position: relative
			right: 0
			top: 0
			padding: 10px 30px
		h3
			font-weight: 300
			font-size: 12px
		span
			display: block
			font-weight: 600
			font-size: 24px
	&__wrapper
		padding-top: 40px
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		+r(575)
			padding-top: 20px
	&__user-info
		width: 65%
		+r(991)
			width: 100%
		&_wrapper
			display: flex
			margin-bottom: 25px
			+r(575)
				flex-direction: column
			img
				width: 170px
				height: 170px
				object-fit: cover
				border-radius: 5px
				+r(576)
					margin: 0 auto
		&_content
			padding: 20px 30px
			h3
				font-weight: 300
				font-size: 16px
				color: $dove-gray
				line-height: 1em
				margin-bottom: 10px
			p, a
				font-weight: 600
				font-size: 24px
				line-height: 1em
				color: $black-pearl
				margin-bottom: 10px
				& + h3
					margin-top: 30px

	&__char
		width: 33%
		border-radius: 5px
		background-color: $white
		box-shadow: 0 1px 6px 0 rgba(4, 8, 18, 0.2)
		+r(991)
			width: 100%
		h4
			padding: 20px 40px
			background: $mystic
			line-height: 1em
			font-weight: 600
			font-size: 16px
			color: $black-pearl
			border-radius: 5px 5px 0 0
		.characteristics
			padding: 35px 40px
			&__label
				display: block
				margin-bottom:  25px
				position: relative
				&:last-of-type
					margin-bottom: 0
				label
					padding-left: 25px
					cursor: pointer
					position: relative
					&::before
						content: ''
						position: absolute
						left: 0
						right: 0
						width: 12px
						height: 12px
						top: 4px
						border-radius: 50%
						border: 1px solid $blue-zodiac
					&::after
						content: ''
						position: absolute
						left: 4px
						top: 8px
						width: 4px
						height: 4px
						border-radius: 50%
						background: $blue-zodiac
						opacity: 0
				input
					position: absolute
					z-index: -1
					opacity: 0
				input[name="char"]:checked + label
					&::after
						opacity: 1
	&__description
		.title
			margin-bottom: 5px
		p
			font-size: 16px
		textarea
			resize: none
			width:  100%
			padding: 30px 20px
			border-radius: 5px
			border-color: $alto
			text-align: left
			font-family: $default-font
			font-weight: 300
			color: $black-pearl
			font-size: 16px
			+r(991)
				margin-bottom:  30px
	&-add
		.title
			+r(991)
				h2
					margin-bottom: 20px
		.add-img
			background-image: url('../img/add-img.jpg')
			background-repeat: no-repeat
			background-position: 0 0
			cursor: pointer
			width: 170px
			height: 170px
			position: relative
			border-radius: 5px
			+r(575)
				margin: 0 auto 20px
			input
				position: absolute
				opacity: 0
				z-index: -1
				top: 50%
				transform: translateY(-50%)
				width: 10px
				height: 5px
		.number__wrapper
			.number__user-info_content
				width: 100%
				max-width: 585px
				padding-right: 0
				padding-top: 0
				padding-bottom: 0
				+r(991)
					max-width: 520px
				+r(576)
					padding: 0
					max-width: none
			input
				width: 100%
				border: 1px solid $alto
				border-radius: 5px
				padding: 10px 10px 20px
				margin-bottom: 20px
				&:last-of-type
					margin-bottom: 0
			.title
				margin-bottom: 5px
			textarea
				margin-bottom:  25px
				padding: 20px 15px 15px
				color: $dove-gray
				&:last-of-type
					margin-bottom: 0
					+r(991)
						margin-bottom: 25px
			.button__wrapper
				margin-top:  25px
				+r(575)
					margin: 25px auto 0
					text-align: center
			.characteristics__label
				margin-bottom: 20px
