.user-block
	padding: 30px 0 20px
	background-color: $wild-sand
	&__wrapper
		display: flex
		flex-wrap: wrap
		justify-content: space-between

	&__container
		display: flex
		align-items: center
		flex-wrap: wrap
		border-radius: 3px
		box-shadow: 0 1px 6px 0 rgba(4, 8, 18, 0.2)
		margin-bottom: 20px
		padding: 30px
		min-height: 140px
		background: $white
		+r(490)
			flex-direction: column
			align-items: flex-start
		&:nth-of-type(odd)
			width: 65%
			+r(991)
				width: 59%
			+r(767)
				width: 100%
		&:nth-of-type(even)
			width: 33%
			+r(991)
				width: 39%
			+r(767)
				width: 100%
		h2
			font-weight: 300
			font-size: 14px
			color: $dove-gray
			line-height: 1em
			margin-bottom: 5px
		a
			font-size: 18px
			line-height: 1em
			color: $black-pearl
		p
			font-weight: 600
			font-size: 18px
			color: $blue-zodiac
	&__info
		display: flex
		align-items: center
		width: 240px
		+r(1200)
			width: auto
		img
			width: 80px
			height: 80px
			object-fit: cover
			border-radius: 4px
			border: 1px solid $white
		&_name
			padding: 10px 15px
			font-size: 20px
			line-height: 1.3em
			color: $black-pearl
	&__email, &__tel
		border-left: 1px solid $wild-sand
		padding: 20px 30px
		+r(991)
			padding: 15px 20px
	&__autopay
		margin-left: auto
		margin-right: 0
		+r(1200)
			margin-left: 0
		+r(767)
			margin-left: auto
		+r(490)
			margin-left: 0
			margin-top: 20px
		h3
			text-transform: uppercase
			font-weight: 600
			color: $black-pearl
			line-height: 1em
			margin-bottom: 10px
	&__buttons
		text-align: right
		margin-right: 80px
		+r(575)
			margin-right: 0
		.user-setting
			& + .user-setting
				margin-left: 50px
				+r(575)
					margin-left: 30px
	.switch
		position: relative
		width: 48px
		-webkit-user-select: none
		-moz-user-select: none
		-ms-user-select: none
		&-checkbox
			display: none
		&-label
			display: block
			overflow: hidden
			cursor: pointer
			border: 2px solid $mercury
			border-radius: 20px
		&-inner
			display: block
			width: 200%
			margin-left: -100%
			transition: margin 0.3s ease-in 0s
			&::before, &::after
				display: block
				float: left
				width: 50%
				height: 22px
				padding: 0
				line-height: 22px
				font-size: 12px
				color: black
				font-family: $default-font
				font-weight: bold
				box-sizing: border-box
			&::before
				content: "ON"
				padding-right: 4px
				background-color: $white
				text-align: right
				color: $dove-gray
			&::after
				content: "OFF"
				padding-left: 4px
				background-color: $white
				color: $dove-gray
		&-switch
			display: block
			width: 15px
			height: 15px
			margin: 5px
			background: $blue-zodiac
			position: absolute
			top: 0
			bottom: 0
			left: 24px
			border: 2px solid $blue-zodiac
			border-radius: 50%
			transition: all 0.3s ease-in 0s
		.switch-checkbox:checked + .switch-label .switch-inner
			margin-left: 0
		.switch-checkbox:checked + .switch-label .switch-switch
			left: 0

button
	&.user-setting
		font-family: $default-font
		font-weight: 400
		font-size: 12px
		color: $silver-chalice
		text-transform: uppercase
		text-decoration: underline
		transition: color .3s linear
		background: transparent
		padding-left: 20px
		position: relative
		&:before
			position: absolute
			left: 0
			top: calc( 50% - 8px )
			width: 16px
			height: 16px
		&:hover
			text-decoration: none
			color: $blue-zodiac
		&_tune
			&::before
				content: url('../img/tune.svg')
		&_edit
			&::before
				content: url('../img/edit.svg')

